<div>
  <ul>Following is the step wise description of how event works:
    <li>Create an even in Child Component. Also import Output from angular core module.</li>
    <li>Associate that event with some other event like clicking of button. This can be done by calling a function on click event of this button which emits this newly created event.</li>
    <li>Then in the parent component, create the function to be executed on that event.</li>
    <li>Call this function in event attribute of child selector.</li>
    </ul>
  <app-child (buttonClickEvent)="displayResult($event)"></app-child>
  <div class="result" *ngIf="result">{{ result }}</div>
</div>